@use "../../styles/_variables";

.item {
  /* TODO: Being ovewritten */
  box-sizing: border-box;
  color: variables.$tab-text;
  height: variables.$explorer-item-height;
  overflow: hidden;
  padding: 5px 15px;
  text-overflow: ellipsis;
  user-select: none;
  display: flex;
  align-items: center;
  width: 100%;

  &:hover {
    background-color: variables.$explorer-item-hover;
  }

  &.active {
    background-color: variables.$explorer-item-active;
    color: white;
  }
}

.icon-wrapper {
  position: relative;
  top: -1px;
}
