.line {
  align-items: center;
  display: flex;
  font-family: "Fira Code", monospace;
  font-size: 15px;
  height: 22px;
  line-height: 22px;

  ::selection {
    background: #ffffff22;
  }

  .number {
    color: #8f8f89;
    display: inline-block;
    text-align: center;
    user-select: none;
    width: 3%;
  }

  .content {
    width: 97%;

    &.comment {
      color: #878470;
    }
  }

  &:hover {
    .content {
      background-color: #3e3e32;
    }
  }
}
