@use "variables";

.line {
  align-items: center;
  display: flex;
  font-family: "Fira Code", monospace;
  font-size: 15px;
  height: 22px;
  line-height: 22px;

  ::selection {
    background: variables.$editor-line-highlight;
  }

  .number {
    color: #8f8f89;
    display: inline-block;
    text-align: center;
    user-select: none;
    width: 3%;
  }

  .content {
    width: 97%;

    &.comment {
      color: variables.$editor-comment;
    }
  }

  &:hover {
    .content {
      background-color: variables.$editor-line-hover;
    }
  }

  a {
    border: 1px solid transparent;
    border-radius: 4px;
    color: variables.$monokai-blue;
    font-family: "Fira Code Bold", monospace;
    padding: 0 2px;
    position: relative;
    text-decoration: none;
    transition: border 250ms;
    top: -1px;

    &:hover {
      border: 1px solid variables.$monokai-blue;
    }
  }

  span {
    color: variables.$editor-comment;
  }

  i {
    color: variables.$monokai-green;
    font-style: normal;
  }
}
