@use "utils";

.section {
  border-radius: utils.vw(15px);
  box-sizing: border-box;
  color: white;
  font-size: utils.vw(20px);
  padding: utils.vw(10px);
  position: relative;
}

.title {
  font-size: utils.vw(30px);
  letter-spacing: 1px;
  margin: 0 0 utils.vw(10px);
}
