@body-bg          : #1a1c23;

@header-height    : 94vh;
@remaining-height : 100vh - @header-height;

@xl : ~"only screen and (min-width: 1201px)";
@l  : ~"only screen and (min-width: 993px) and (max-width: 1200px)";
@m  : ~"only screen and (min-width: 601px) and (max-width: 992px)";

@under-large : ~"only screen and (max-width: 801px)";

// @xs : ~"only screen and (max-width: 600x)";

body {
  background-color  : @body-bg;

  header {
    height      : 100vh;
  }

  nav {
    height      : @remaining-height;
  }

  .content-wrapper {
    min-height  : @header-height;
    margin-top  : 100vh;
  }

  @import 'header-nav';
  @import 'content';
  @import 'animate-ov';
}
