.content-wrapper {
  background-color: #edf0f0;
  padding         : 25px 20%;
  font-size       : 1.5em;

  @media @m {
    font-size : 2.2em;
    padding   : 25px 35px;
  }
  @media @s {
    font-size : 1em;
    padding   : 25px 35px;
  }

  .bold {
    font-weight : bold;
    color       : #2a598a;
  }

  .title {
    font-size: 1.2em;
  }

  section {
    position        : relative;
    min-height      : 300px;
    border-top      : 1px solid #ccc;
    border-bottom   : 1px solid #ccc;
    padding         : 15px 5px;

    &:first-of-type {
      border-top    : 0;
      border-bottom : 0;
    }
    &:last-of-type {
      border-top    : 0;
      border-bottom : 0;
    }

    .parallax {
      img {
        bottom  : 40%;
        zoom    : 0.1;
      }
    }

    &#projects {
      .latest-pen {
        span {
          position        : relative;
          display         : block;
          font-size       : 1.2em;
          color           : black;
          letter-spacing  : 2px;

        }
      }
    }

    &#connect {
      .contact {
        display           : block;
        font-size         : 0.9em;
        font-family       : monospace;
      }

      .contact-links {
        i {
          color           : #333;
          font-size       : 4em;
          margin          : 0 15px;
          transition      : color 250ms;

          &.fa-github:hover,
          &.fa-codepen:hover,
          &.fa-steam:hover {
            color         : #222;
          }

          &.fa-linkedin:hover {
            color         : #0077b5;
          }
        }

      }
    }
  }
}
