@header-bg    : #1a1c23;
@header-bg2   : #31343c;
@heaver-color : white;
@black        : @header-bg;

header {
  width             : 100%;

  // background-color  : @header-bg;
  // background: linear-gradient(-150deg, @header-bg, @header-bg2);
  background        : radial-gradient(circle, @header-bg, @header-bg2, @header-bg);
  color             : @heaver-color;
  padding           : 2% 3%;
  transition        : all 1s;

  position: absolute;
  top: 0;

  &.gradient {

  }

  .title {
    font-size: 4em;
  }
}

nav {
  position          : absolute;

  background-color  : white;
  color             : @black;
  transition        : all 500ms;
  padding           : 0 20%;
  bottom            : 0;

  .nav-wrapper {
    font-size       : 1.2em;

    .nav-option {
      position      : relative;
      top           : -5px;
    }
  }
}
