@use "variables";

.caret {
  height: 15px;
  position: relative;
  right: 4px;
  transform: rotate(90deg);
  width: 15px;
}

.group {
  height: auto;
  overflow: hidden;
  position: relative;

  &.closed {
    height: variables.$explorer-item-height;

    .caret {
      transform: rotate(0);
    }
  }

  .title {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: variables.$explorer-item-height;
    user-select: none;
    padding: 5px 15px;

    /* TODO: Nested separator logic: Show on explorer hover. When not, only show on active tab group */
    &::before {
      width: 1px;
      height: calc(100% - #{variables.$explorer-item-height});
      background: #585858;
      position: absolute;
      top: variables.$explorer-item-height;
      z-index: 1;
    }

    &:hover {
      background-color: variables.$explorer-item-hover;
    }
  }
}
