@use "utils";
@use "variables";

.wrapper {
  flex: 1;
}

.table {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 69%;
}

.element {
  align-items: center;
  background: white;
  display: flex;
  height: utils.vw(50px);
  justify-content: center;
  padding: utils.vw(10px);
  transition: width 200ms, height 200ms;
  width: utils.vw(50px);

  &:hover {
    height: utils.vw(60px);
    width: utils.vw(60px);
  }

  svg {
    height: inherit;
    width: inherit;
  }

  img {
    height: utils.vw(45px);
    width: utils.vw(45px);
  }

  &.vscode {
    background-color: variables.$color-bg-vscode;
  }

  &.ts {
    background-color: variables.$color-bg-js;
  }

  &.js {
    background-color: variables.$color-bg-js;
    color: variables.$color-js;
  }

  &.node {
    background-color: variables.$color-bg-nodejs;
    color: variables.$color-nodejs;
  }

  &.react {
    background-color: variables.$color-bg-react;
    color: variables.$color-react;
  }

  &.redux {
    background-color: variables.$color-bg-redux;
  }

  &.sass {
    background-color: variables.$color-bg-sass;
  }

  &.npm {
    background-color: variables.$color-npm;
  }

  &.babel {
    background-color: variables.$color-bg-react;
  }

  &.webpack {
    background-color: variables.$color-bg-webpack;
  }
}
