.root {
  display: flex;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

button {
  border: 0;
}

button,
div[role=button] {
  color: white;
  font-family: inherit;
  cursor: pointer;
  outline: none;

  &:focus,
  &:active {
    outline: none;
  }
}
