@use "variables";

.tab-menu {
  background-color: variables.$file-menu-bg;
  display: flex;
  flex: 0 0 variables.$file-tab-height;
  font-family: sans-serif;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;

  .wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
  }

  &.empty {
    background-color: variables.$editor-bg;
  }
}

.scroll-button {
  position: absolute;
  background: variables.$editor-bg;
  width: variables.$file-tab-height;
  height: variables.$file-tab-height;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
