@use "variables";

.tab-menu {
  background-color: variables.$file-menu-bg;
  font-family: sans-serif;
  user-select: none;
  height: variables.$file-tab-height;

  &.empty {
    background-color: variables.$editor-bg;
  }
}
