@use "variables";

.tab-menu {
  background-color: variables.$file-menu-bg;
  display: flex;
  flex: 0 0 variables.$file-tab-height;
  font-family: sans-serif;
  user-select: none;

  &.empty {
    background-color: variables.$editor-bg;
  }
}
