@use "variables";

.tab {
  background-color: #2e2f2a;
  border: none;
  border-right: 1px solid;
  border-color: variables.$editor-bg;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  outline: none;
  padding: 10px 20px;

  &:focus,
  &:active {
    outline: none;
    border-color: variables.$editor-bg;
  }
}
