@use "variables";
@use "utils";

.tab {
  align-items: center;
  background-color: #2e2f2a;
  border-bottom: 1px solid #2e2f2a;
  box-sizing: border-box;
  color: variables.$tab-text;
  display: inline-flex;
  font-size: 14px;
  padding: 10px 15px;
  padding-right: 30px;
  height: variables.$file-tab-height;
  margin-right: 1px;
  position: relative;
  text-decoration: none;

  &.active {
    background-color: variables.$editor-bg;
    border-bottom: 1px solid variables.$editor-bg;
    color: variables.$tab-text-active;
  }

  &:focus,
  &:active {
    border-color: variables.$editor-bg;
  }
}

.icon {
  position: relative;
}

.logo-icon {
  position: relative;
  bottom: 6px;
}


.close {
  background: transparent;
  height: 20px;
  opacity: 0;
  position: absolute;
  right: 3px;
  top: 10px;
  transition: opacity 100ms;
  width: 20px;

  &.show {
    opacity: 1;
  }
}
