@use "variables";
@use "utils";

.close {
  color: white;
  background: transparent;
  height: 20px;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 3px;
  top: 10px;
  transition: opacity 100ms;
  width: 20px;

  svg {
    height: 14px;
    width: 14px;
    stroke: #e6e6e6;
  }
}

.tab {
  align-items: center;
  background-color: #2e2f2a;
  border-bottom: 1px solid #2e2f2a;
  box-sizing: border-box;
  color: variables.$tab-text;
  display: inline-flex;
  font-size: 14px;
  padding: 10px 15px;
  padding-right: 30px;
  height: variables.$file-tab-height;
  margin-right: 1px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;

  &.active {
    background-color: variables.$editor-bg;
    border-bottom: 1px solid variables.$editor-bg;
    color: variables.$tab-text-active;

    .close {
      opacity: 1;
    }
  }

  &:hover .close {
    opacity: 1;
  }
}
