@use "utils";
@use "keyframes";

.wrapper {
  position: relative;
}

.section {
  .title {
    padding: 0;
  }
}

.project {
  margin: utils.vw(10px) 0;
}

.content {
  margin: utils.vw(5px) 0 0;
  font-size: utils.vw(15px);
}

.fade-in-down {
  animation: fadeInDownKF 250ms forwards;
}

.fade-out-down {
  animation: fadeOutDownKF 250ms forwards;
}
