.wip {
  display: flex;
  font-size: 24px;
  font-family: monospace;
  height: 500px;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  flex-direction: column-reverse;
  width: 500px;

  a {
    padding-left: 15px;
    color: cyan;
  }
}
