@use "utils";
@use "keyframes";

$resume-wrapper: linear-gradient(330deg, #1d354c 0%, #281e2d 90%);

.resume-wrapper {
  background: $resume-wrapper;
  position: absolute;
  height: 100%;
  left: -100%;
  width: 100%;
}

$icon-size: utils.vw(40px);

.exit-resume {
  align-items: center;
  background-color: transparent;
  border-radius: utils.vw(50px);
  color: white;
  display: flex;
  height: $icon-size;
  justify-content: center;
  right: utils.vw(30px);
  top: utils.vw(30px);
  position: absolute;
  width: $icon-size;
  transition: color 150ms, background-color 150ms;

  &:hover {
    background-color: white;
    color: #222;
  }

  .icon {
    font-size: $icon-size;
    position: relative;
    height: utils.vw(40px);
    right: 1px;
    width: utils.vw(40px);
  }
}

.slide-in {
  animation: slideInRightKF 250ms forwards;
}

.slide-out {
  animation: slideOutRightKF 250ms forwards;
}
