@use "variables";

.icon {
  font-weight: bold;
  font-size: 13px;
  margin-right: 7px;

  &.js{
    color: variables.$file-color-js;
    font-size: 12px;
  }

  &.json {
    color: variables.$file-color-js;
    font-size: 12px;
    margin-right: 3px;
    letter-spacing: 3px;
  }

  &.css {
    color: variables.$file-color-css;
    font-size: 14px;
  }
}

.logo-icon {
  width: 4px;
  height: 4px;
  margin-right: 7px;

  &.md {
    color: variables.$color-md;
  }

  &.txt {
    right: 3px;

    svg {
      height: 10px;
      width: 10px;
    }
  }
}
