@use "variables";

.explorer {
  background-color: variables.$explorer-bg;
  transition: width 200ms;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  font-size: 14px;
  font-family: sans-serif;

  &.active {
    width: 25%;
  }
}
