@use "variables";

.explorer {
  background-color: variables.$explorer-bg;
  display: inline-block;
  font-size: 14px;
  font-family: sans-serif;
  transform: scaleX(0);
  overflow: hidden;
  transform-origin: left;
  height: 100%;
  white-space: nowrap;
  width: variables.$explorer-view;

  &.active {
    transform: scaleX(1);
  }
}
