.wrapper {
  background-color: var(--blog-background-color-black);
  line-height: 1.5;
  overflow: hidden auto;
  padding: 0 18% 100px;
  font-family: var(--blog-font-family-heading);
  color: var(--blog-foreground-color-white);
  font-weight: 200;
  font-size: 1.25rem;

  a {
    color: #5fd1ff;
    text-decoration: underline;
  }

  h1,
  h2,
  h3 {
    font-family: var(--blog-heading-font-family);
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 50px 0 0;
    text-align: center;
  }

  p {
    line-height: 2;
  }

  pre {
    background: #1e2228;
    border-radius: 4px;
    padding: 10px;
  }

  figcaption {
    color: #c1bfbe;
    display: block;
    font-size: 0.9em;
    text-align: center;
  }

  [data-blog-theme='runner'] & {
    h1,
    h2,
    h3 {
      text-transform: uppercase;
    }

    a {
      color: var(--color-runner-syac);
    }
  }
}

.date {
  color: #c1bfbe;
  margin-top: 0;
  text-align: center;
}

.title {
  [data-blog-theme='vscode'] & {
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
      to right,
      hsl(210, 29.03%, 24.31%),
      hsl(204, 69.87%, 53.14%)
    );
  }

  [data-blog-theme='runner'] & {
    background-color: var(--color-runner-primary);
    color: var(--theme-runner-foreground-color-black);
    border-radius: 4px;
    position: relative;

    --corner-cross-size: 20px;

    span {
      position: absolute;
      height: var(--corner-cross-size);
      width: var(--corner-cross-size);

      &::before {
        content: '';
        width: 1px;
        height: var(--corner-cross-size);
        background: var(--theme-runner-foreground-color-black);
        display: block;
        left: calc(var(--corner-cross-size) / 2);
        position: relative;
      }

      &::after {
        content: '';
        width: var(--corner-cross-size);
        height: 1px;
        background: var(--theme-runner-foreground-color-black);
        display: block;
        bottom: calc(var(--corner-cross-size) / 2);
        position: relative;
      }
    }

    span:nth-child(1) {
      left: 0;
      top: 0;
    }

    span:nth-child(2) {
      left: 0;
      bottom: 0;
    }

    span:nth-child(3) {
      right: 0;
      top: 0;
    }

    span:nth-child(4) {
      right: 0;
      bottom: 0;
    }
  }
}
