@use "variables";
@use "keyframes";
@use "utils";

.wrapper {
  position: relative;
}

.section {
  flex: 1;
}

.content {
  color: white;
  font-size: utils.vw(15px);

  & > div {
    margin: utils.vw(6px) 0;
  }

  .company-title {
    font-size: utils.vw(22px);
  }

  .period {
    display: inline-block;
    color: #ddd;
    font-size: utils.vw(15px);
    margin: 0 10px;
  }
}

.fade-in-left {
  animation: fadeInLeftKF 250ms forwards;
}

.fade-out-left {
  animation: fadeOutLeftKF 250ms forwards;
}
