@use "utils";

.wrapper {
  box-sizing: border-box;
  display: flex;
  font-size: 24px;
  font-family: Fira Code, monospace;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding: utils.vw(20px);
  position: relative;

  a {
    color: white;
    padding-left: 5px;
    text-decoration: underline;
  }
}
