.wrapper {
  box-sizing: border-box;
  display: flex;
  font-size: 24px;
  font-family: Fira Code, monospace;
  height: 100%;
  flex-direction: column;
  padding: 20px;
  position: relative;
}
