.bar {
  background-color: var(--color-side-menu-bg);
  box-sizing: border-box;
  display: flex;
  flex: 0 0 var(--activity-bar-width);
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.item {
  --color-icon: #d7dae0;

  align-items: center;
  border-left: 2px solid transparent;
  color: var(--color-icon);
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  position: relative;

  &.active {
    border-left: 2px solid white;
  }

  &.active,
  &:hover {
    --color-icon: white;
  }
}

.bottom {
  display: grid;
  margin-top: auto;
}
