@use "variables";

body {
  background: variables.$editor-bg;
  color: white;
  font-family: Fira Code, monospace;
  margin: 0;

  a {
    color: variables.$url;
    text-decoration: none;
  }
}
