body {
  font-family: sans-serif;
  background: #222;
  color: white;
}

@font-face {
  font-family: "Fira Code";
  src: url("../public/fonts/FiraCode/woff/FiraCode-Light.woff") format("woff"),
    url("../public/fonts/FiraCode/woff2/FiraCode-Light.woff2") format("woff2");

}
