@use "variables";

:global {
  body {
    background: variables.$editor-bg;
    color: white;
    font-family: Fira Code, monospace;
    margin: 0;
  }

  #root {
    display: flex;
  }

  a {
    color: variables.$url;
    text-decoration: none;
  }

  button {
    border: 0;
  }

  button,
  div[role="button"] {
    cursor: pointer;
    font-family: inherit;
    outline: none;

    &:focus,
    &:active {
      outline: none;
    }
  }
}
