@font-face {
  font-family: "Fira Code";
  src:
    url("../public/fonts/FiraCode/woff/FiraCode-Light.woff") format("woff"),
    url("../public/fonts/FiraCode/woff2/FiraCode-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code Bold";
  src:
    url("../public/fonts/FiraCode/woff/FiraCode-Bold.woff") format("woff"),
    url("../public/fonts/FiraCode/woff2/FiraCode-Bold.woff2") format("woff2");
}
