@use "variables";

/* Slide in right */
@keyframes slideInRightKF {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes slideOutRightKF {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

/* Fade in left */
@keyframes fadeInLeftKF {
  from {
    right: 50px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes fadeOutLeftKF {
  from {
    right: 0;
    opacity: 1;
  }

  to {
    right: 50px;
    opacity: 0;
  }
}

/* Fade in right */
@keyframes fadeInRightKF {
  from {
    left: 50px;
    opacity: 0;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes fadeOutRightKF {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: 50px;
    opacity: 0;
  }
}

/* Fade in down */
@keyframes fadeInDownKF {
  from {
    top: -50px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fadeOutDownKF {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: -50px;
    opacity: 0;
  }
}

/* Side menu title */
@keyframes menuTitleFadeInKF {
  from {
    opacity: 0;
    bottom: 10px;
  }

  to {
    opacity: 1;
    bottom: 2px;
  }
}

@keyframes menuTitleFadeOutKF {
  from {
    opacity: 1;
    bottom: 2px;
  }

  to {
    opacity: 0;
    bottom: 10px;
  }
}

/* Orbit spin */
@keyframes spinFK {
  100% {
    transform: rotate(360deg);
  }
}

/* typing animation */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}


@keyframes caret {
  from, to { border-color: transparent; }
  50% { border-color: variables.$editor-caret-cursor; }
}
