$editor-bg: #1f1f1f;

$editor-line-highlight: #ffffff22;
$editor-line-hover: #3e3e32;
$editor-comment: #878470;
$editor-line-number: #8f8f89;
$editor-caret-cursor: #f5f5f5;

$file-color-css: #519bba;
$file-color-js: #cbcb41;
$tab-text: #ccccc7;
$tab-text-active: #ffffff;

// Monokai
$monokai-green: #99d62a;
$monokai-blue: #5fd1e8;
$monokai-red: #d61b4a;
$monokai-yellow: #dccc65;

$color-npm: #cb0303;
$color-facebook: #4267b2;
$color-linkedin: #0074b2;
$color-steam: #145e8f;

$color-arenso: #006ac6;
$color-tcs: #3b86c7;
$color-accedo: #00a2e8;

$color-vscode: #0083d0;

$menu-size: 65px;

$resume-header-height: 22%;
$resume-body-height: 78%;
