.line {
  align-items: center;
  display: flex;
  font-size: 18px;
  height: 24px;
  line-height: 24px;

  ::selection {
    background-color: var(--color-editor-line-highlight);
  }

  &:hover {
    background-color: var(--color-editor-line-hover);
  }
}

.line-number {
  box-sizing: border-box;
  color: var(--color-editor-line-number);
  display: inline-block;
  padding-right: 13px;
  text-align: right;
  user-select: none;
  width: 55px;
}

.content {
  font-family: var(--font-family-code);
  margin: 0;
  width: 97%;

  &.type-animated,
  &.caret-animated {
    width: auto;

    .text {
      align-items: center;
      border-right: 2px solid var(--color-editor-caret-cursor);
      overflow: hidden;
      display: inline-flex;
      padding-right: 3px;
      position: relative;
      top: 1px;
    }
  }

  &.type-animated {
    .text {
      animation:
        typing 3500ms steps(40, end),
        caret 1500ms infinite;
    }
  }

  &.caret-animated {
    .text {
      animation: caret 1500ms infinite;
    }
  }
}

@property --color-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: oklch(58.49% 0.2241 259.89deg);
}

@property --color-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: oklch(58.49% 0.2241 259.89deg);
}

@keyframes gradient-change {
  to {
    --color-1: oklch(67.04% 0.2173 21.89deg);
    --color-2: oklch(80.77% 0.165 73.41deg);
  }
}

.editor-link {
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: var(--font-family-code);
  font-weight: bold;
  padding: 0 2px;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  transform: scale(1);
  top: 0;

  /* &:hover {
    transform: scale(1.1);
    animation: gradient-change 2s linear infinite alternate;
    background: linear-gradient(
      to right in oklch,
      var(--color-1) 0%,
      var(--color-2) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  } */
}

.comment {
  color: var(--color-editor-comment);
}

.important {
  color: var(--color-red);
}

.color {
  &.red {
    color: var(--color-red);

    &:hover {
      border-color: var(--color-red);
    }
  }

  &.green {
    color: var(--color-green);

    &:hover {
      border-color: var(--color-green);
    }
  }

  &.blue {
    color: var(--color-blue);

    &:hover {
      border-color: var(--color-blue);
    }
  }

  &.yellow {
    color: var(--color-yellow);

    &:hover {
      border-color: var(--color-yellow);
    }
  }

  &.string {
    color: var(--color-string);

    &:hover {
      border-color: var(--color-string);
    }
  }
}

/* typing animation */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes caret {
  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: var(--color-editor-caret-cursor);
  }
}
