@use "variables";
@use "keyframes";

@mixin caret-border {
  border-right: 2px solid variables.$editor-caret-cursor;
  display: inline-block;
  overflow: hidden;
  padding-right: 3px;
  position: relative;
  top: 3px;
}

.line {
  align-items: center;
  display: flex;
  font-size: 15px;
  height: 21px;
  line-height: 21px;

  ::selection {
    background: variables.$editor-line-highlight;
  }

  &:hover {
    background-color: variables.$editor-line-hover;

    .number {
      background-color: variables.$editor-bg;
    }
  }
}

.line-number {
  box-sizing: border-box;
  color: variables.$editor-line-number;
  display: inline-block;
  padding-right: 13px;
  text-align: right;
  user-select: none;
  width: 50px;
}

.content {
  font-family: Fira Code, monospace;
  margin: 0;
  width: 97%;

  &.type-animated,
  &.caret-animated {
    width: auto;

    .text {
      @include caret-border;
    }
  }

  &.type-animated {
    .text {
      animation: typing 3500ms steps(40, end), caret 1500ms infinite;
    }
  }

  &.caret-animated {
    .text {
      animation: caret 1500ms infinite;
    }
  }
}

.editor-link {
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: "Fira Code Bold", Fira Code, monospace;
  padding: 0 2px;
  position: relative;
  text-decoration: none;
  transition: border 250ms;
  top: 0;

  &:hover {
    border: 1px solid;
  }
}

.comment {
  color: variables.$editor-comment;
}

.important {
  color: variables.$monokai-red;
}


@mixin theme-color($color) {
  color: $color;

  &:hover {
    border-color: $color;
  }
}

.color {
  &.red {
    @include theme-color(variables.$monokai-red);
  }

  &.green {
    @include theme-color(variables.$monokai-green);
  }

  &.blue {
    @include theme-color(variables.$monokai-blue);
  }

  &.yellow {
    @include theme-color(variables.$monokai-yellow);
  }
}

