@use "variables";
@use "keyframes";
@use "utils";

.icon {
  min-width: 25px;
  /* #c5c5c5 */
  color: #7b7a75;
  fill: #7b7a75;
  transition: color 200ms;
  margin: 0 auto;
}

.title {
  align-items: center;
  bottom: 2px;
  display: flex;
  font-size: 9px;
  justify-content: center;
  position: absolute;
  opacity: 0;
}

.item {
  align-items: center;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  border-left: 3px solid transparent;
  display: flex;
  height: 60px;
  justify-content: center;
  outline: none;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  text-align: center;
  user-select: none;

  svg {
    height: 30px;
    width: 30px;
  }

  .title {
    animation: menuTitleFadeOutKF 100ms forwards;
  }

  &.active {
    border-left: 3px solid white;

    .icon {
      color: white;
    }
  }

  &:hover {
    .icon {
      color: white;
    }

    .title {
      animation: menuTitleFadeInKF 100ms forwards;
    }
  }
}
